* {
    margin: 0;
    padding: 0;

}




body {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.gobottom {
    margin-top: 50px;
    font-size: 58px;
    font-style: italic;
}

header {
    position: fixed;
    width: 100%;
}

/* navigation place */
nav {
    height: 40px;
    width: 100%;
    background: #58bd31;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #ffffff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav a:hover {
    background-color: #ecf0f1;
    color: #333;
}

nav a#pull {
    display: none;
}

.banner {
    width: 100%;
    height: 300px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 150px;
}

/* article place*/
article {
    display: inline-block;
    width: 20%;
    margin: 40px;
    background-color: #82b66d81;
}


article img {
    width: 250px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-self: auto;
    justify-content: center;
}

.ingredient {
    padding: 20px;
}

div article {
    border: 2px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-food {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.text-center {
    text-align: center;
}

.text-left {
    margin-right: 45px;
    margin-left: 45px;
    text-align: justify;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #333;
}

#footer-tag {
    padding: 40px;
}

#follow {
    position: absolute;
    display: inline-flex;
    bottom: 30px;
    right: 50px;

}

#icon {
    top: 15;
    width: 40px;
    height: 40px;
}

.chef-container {
    padding: 30px;
    margin: 0 auto;
    text-align: justify;
    width: 50%;
}

td h3,
td h5,
td p {
    line-height: 25px;
    padding: 10px;
    background: white;

}

.about-container {
    margin: 50px;
}

.about-banner {
    margin: 10px 0x 10px 0px;
    width: 100%;
    height: 700px;
}

.img-child {
    border: 1px solid black;
    box-shadow: 2px 2px gray;
    border-radius: 10px;
    width: 350px;
    height: 250px;
}

.form-container {
    padding-top: 100px;
    padding-bottom: 100px;

    margin: 0 auto;
    width: 50%;
}

form {
    margin: 0 auto;
    width: 50%;
    border: 2px solid grey;
    text-align: center;
    /* background-color: #333; */
}

#toleft {
    position: absolute;
    top: 170px;
    left: 110px;
    width: 90%;
}

#flex-img {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

div ul li {
    list-style-type: none;
}

#robot {
    font-family: 'Roboto', sans-serif;
}

#opensans {
    font-family: 'Open Sans', sans-serif;
}